<div class="app-container">
  <header class="app-header">
    <div class="header-content">
      <h1 class="app-title">{{ title }}</h1>
      <div class="auth-section">
        <span class="user-name" *ngIf="userName && hasAccess">Welcome, {{ userName }}</span>
      </div>
    </div>
  </header>
  <div class="main-content">
    <ng-container *ngIf="isCheckingAccess">
      <div class="access-message">
        <p>Checking access...</p>
      </div>
    </ng-container>
    <ng-container *ngIf="!isCheckingAccess && !hasAccess">
      <div class="access-message">
        <h2>Access Denied</h2>
        <p>You do not have access to this application.</p>
      </div>
    </ng-container>
    <ng-container *ngIf="!isCheckingAccess && hasAccess">
      <app-session-list [collapsed]="sidebarCollapsed" (toggleSidebar)="toggleSidebar()"></app-session-list>
      <app-chat [sidebarCollapsed]="sidebarCollapsed"></app-chat>
    </ng-container>
  </div>
</div>

